*{
          padding: 0;
          margin: 0;
          font-size: 1em;
      }
      header{
          height: 17vh;
      }
      header img{
          height: 15vh;
          margin: 1.5vh;
      }
      .photo{
          background: url("images/cosmetique.jpg");
          background-size: cover;
          background-position: center;
          position: absolute;
          opacity: 0.5;
          height: 100vh;
          width: 100%;
          z-index: -1;
      }
      .inputs input , select{
          border: none;
          margin: 1.5vh;
          height: 6vh;
          width: 80%;
          border-radius: 0.5vh;
      }
      .forme{
          border: 3px solid rgb(158, 158, 158);
          background-color: rgb(208, 214, 206);
          width: 55%;
          margin: 1vh;
          justify-content: center;
          
      }
      form{
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      label{
          float: left;
          margin: 2.7vh;
      }
      #ajouter{
          align-items: center;
          height: 6vh;
          width: 20%;
          background-color: rgba(241, 248, 225, 0.878);
          border: none;
          border-radius: 5px;
          margin: 2vh;
      }
      table, th, td {
          border: 2px solid rgb(158, 158, 158);
          border-collapse: collapse;
      }
      table{
          margin: 0.5vh;
          margin-left: 5                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
      }
      th, td {
          padding: 2vh;
          margin: 2vh;
      }
      #ouipromo,#nonpromo{
              height: 2vh;
              width: 7vh;
              margin-top: 3vh;
              margin-bottom: 4vh;
      }
      #nom{
          margin-left: 4vh;
      }
      #prix{
          margin-left: 4.6vh;
      }
      #date{
          margin-left: 4vh;
      }
      #type{
          margin-left: 3.8vh;
      }
      p{
          color: red;
          font-size: 1em;
      }
      @media screen and (max-width: 1121px) {
          table{
              margin: 0;
              font-size: small;
          }
          th, td{
              padding: 0.5vh;
              margin: 0.5vh;
          }
      }
      @media screen and (max-width: 621px) {
          label{
              margin-left: 0;
          }
          th, td{
              padding: 0.1vh;
              margin: 0.1vh;
          }
          #ouipromo,#nonpromo{
              margin-top: 1vh;
              margin-bottom: 2vh;
          }
      }
      @media  screen and (max-width: 414px) {
          th, td{
              padding: 0;
              margin: 0;
          }
      }